<%= javascript_include_tag 'photo_tag' %>
<%= javascript_include_tag 'photo_slide' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>
  
<div class='crumb'>
<div class='left'>
<% subject = get_subject @user %>
<%= guild_link @guild %> -> <%= album_link @album %> -> 照片<br/>
</div>
</div>


<div class='photo-view'>
  <div class='photo-wrap'>
    <%= image_tag @photo.public_filename %>
  </div>
  <div class='photo-info'>
    <% if @user == current_user %>
      <%= in_place_text_field @photo, :notation, {:empty_text => '点击增加照片描述', :url => update_notation_guild_photo_url(@photo), :name => 'photo[notation]', :rows => 2, :cols => 70} %>
    <% else %>
      <%= @photo.notation %>
    <% end %>
  </div>
</div>

<div id='photo_options'>
  <%= dig_link @photo %> |
  <%= link_to_function '标记' %> |
  <% if @user == current_user %>
    <%= link_to '编辑', edit_guild_photo_url(@photo), :rel => 'facebox' %> |
    <%= facebox_confirm 'x', guild_photo_url(@photo), {:method => :delete, :msg => '你确定要删除这张照片吗?'} %>  
  <% end %>
</div>

<div id='photo_preview'>
  <div class='prev'><%= link_to_function '上一张', "slide.prev();" %></div>
  <div class='photo-list'>
    <ul>
    <% 5.times do |i| %>
      <li id='frame_<%= i %>'></li>
    <% end %>
    </ul>
  <div class='next'><%= link_to_function '下一张', "slide.next();" %></div>
</div>

<div id='comments'>
  <%= render :partial => 'album/comments/comment', :collection => @comments %>
</div>

<div class='msg-body'>
  <% form_remote_for :comment, :url => guild_photo_comments_url(@photo) do |f| %>
  <div class='composer'>
    <%= hidden_field_tag 'comment[recipient_id]', @user.id%>
    <%= f.text_area 'content', :rows => 5, :cols => 75, :onkeyup => "return limit_words_of_text_area(this, 140, $('words_count'));" %>
  </div>
  <div id='words_count'>0/140</div>
  <div class='emotion'>
    <%= emotion_link "comment_content" %>
  </div>
  <div class='button'>
    <%= f.submit '提交', :class => 'confirm-button' %>
    <%= f.label '悄悄话' %><%= f.check_box 'whisper' %>
  </div>
  <% end %>
</div>

<% photo_ids = array_or_string_for_javascript @album.photos.map {|p| p.id} %>
<% urls = array_or_string_for_javascript @album.photos.map {|p| p.public_filename(:small)} %>
<%= javascript_tag "
  slide = new PhotoSlide('guild_photo', #{photo_ids}, #{urls}, 5, #{@photo.id}); 
"%>
