<% album = comment.commentable %>
<% link = "#{link_to_function album.title, "home_manager.read_notice('#{read_notice_url(notice)}', '#{form_authenticity_token}'); window.open('/#{album.class.to_s.underscore}s/#{album.id}?reply_to=#{comment.poster_id}');"}" %>
<li>
	<div class="feed-message">
		<%= link_to_function '', "home_manager.read_notice('#{read_notice_url(notice)}', '#{form_authenticity_token}')", :class => 'icon-active' %>
		<% if notice.data == 'comment' %>
			<%= profile_link comment.poster %> 评论了相册 <%= link %>
		<% elsif notice.data == 'reply' %>
			<%= profile_link comment.poster %> 在 <%= link %> 回复了你
		<% end %> 		
	</div>
</li>
