<% blog = comment.commentable %>
<% link = "#{link_to_function blog.title, "home_manager.read_notice('#{read_notice_url(notice)}', '#{form_authenticity_token}'); window.open('/blogs/#{blog.id}'?reply_to=#{comment.poster_id});"}" %>
<li>
	<div class="feed-message">
		<%= link_to_function '', "home_manager.read_notice('#{read_notice_url(notice)}', '#{form_authenticity_token}')", :class => 'icon-active' %>
		<% if notice.data == 'comment' %>
			<%= profile_link comment.poster %> 评论了你的博客 <%= link %>
		<% elsif notice.data == 'reply' %>
			<%= profile_link comment.poster %> 在 <%= link %> 回复了你
		<% elsif notice.data == 'tag' %>
			<%= profile_link comment.poster %> 评论了和你有关的博客 <%= link %>
		<% end %> 		
	</div>
</li>
