<% content_for :left do %>
	<%= render :partial => '/app_menu' %>
<% end %>

<div>
<%= link_to "通知", notifications_url %> |
<%= link_to "请求", requests_url %> |
<%= link_to "邀请", invitations_url %>
</div>

<div>
<%= link_to "所有邀请", invitations_url %> |
<%= link_to "投票邀请", invitations_url(:type => 0) %> |
<%= link_to "活动邀请", invitations_url(:type => 1) %> |
<%= link_to "工会邀请", invitations_url(:type => 2) %>
</div>

<div>
<% @invitations.each do |invitation| %>
	<% if invitation.instance_of? PollInvitation %>
		<%= render :partial => 'poll_invitation', :object => invitation %>
	<% elsif invitation.instance_of? Participation %>
		<%= render :partial => 'event_invitation', :object => invitation %>
	<% elsif invitation.instance_of? Membership %>
		<%= render :partial => 'guild_invitation', :object => invitation %>
	<% end %>
<% end %>
</div>

<%= will_paginate @invitations %>
