<div class='header'>
  <h3>请求加入</h3>
</div>

<div id='error'></div>
<% form_remote_for :request, :url => guild_requests_url(@guild, :show => params[:show]), :html => {:method => :post} do |f| %>
<div class='content'>
  <%= f.radio_button 'status', 1 %><%= label_tag '', '申请成为长老' %><br/>
  <%= f.radio_button 'status', 2 %><%= label_tag '', '申请成为会员' %><br/>
</div>
<div class='footer'>
  <%= f.submit '请求加入', :class => 'confirm-button' %>
  <%= button_to_function '取消', "facebox.close();", :class => 'cancel-button' %>
</div>
<% end %>
