<%= error_messages_for :character %>
<% game = @character.game %>
<% form_remote_for :character, :html => {:id => 'character_info_form'} do |f| %>
    <%= f.label 'character ID: ' %>
  <%= f.text_field :name, :size => 10 %><br/>
  <a id='character_name_info'></a>
  <%= f.label 'level: ' %> 
  <%= f.text_field :level, :size => 10 %> <br/>
  <a id='character_level_info'></a> 
  <%= f.label 'game: ' %>
  <%= collection_select :character, :game_id, Game.all, :id, :name, {:prompt => '---'}, {:onchange => "register_manager.game_onchange()"} %><br/>
  <a id='character_game_info'></a>
  <%= f.label 'area: ' %>
  <%= collection_select :character, :area_id, game.no_areas ? [] : game.areas, :id, :name, {:prompt => '---'}, {:onchange => "register_manager.area_onchange()"} %><br/>
	<a id='character_area_info'></a>
  <%= f.label 'server: '%>
  <%= collection_select :character, :server_id, game.no_areas ? game.servers : @character.area.servers, :id, :name, {:prompt => '---'} %><br/>
	<a id='character_server_info'></a>
  <%= f.label 'prof: '%>
  <%= collection_select :character, :profession_id, [], :id, :name, {:prompt => '---'} %><br/>
  <a id='character_profession_info'></a>
  <%= f.label 'race: '%>
  <%= collection_select :character, :race_id, [], :id, :name, {:prompt => '---'} %><br/>
  <a id='character_race_info'></a>
	<%= button_to_function '创建', "register_manager.update_character(#{@id});" %>
  <%= link_to_function '取消', "register_manager.leave_edit_character();" %>
<% end %>
