<div class='header'>
  <h3>更改职务</h3>
</div>

<% form_remote_for :membership, :url => guild_membership_url(@guild, @membership), :html => {:method => :put} do |f| %>
<div class='content'>
  <%= f.radio_button 'status', 4 %><%= label_tag '', '长老' %><br/>
  <%= f.radio_button 'status', 5 %><%= label_tag '', '普通会员' %><br/>
</div>
<div class='footer'>
  <%= f.submit '确定', :class => 'confirm-button' %>
  <%= button_to_function '取消', "facebox.close();", :class => 'cancel-button' %>
</div>
<% end %>

